<article class="comment-item item">
  <div class="row comment">
    <div class="col-xs-1">
      <img class="img-avatar img-avatar-xs img-circle" src="{{comment.user.avatar}}" alt="" />
    </div>
    <div class="col-xs-11">
      <div class="row">
        <div class="col-xs-10">
          {{#link-to 'user' comment.user}}
            <ul class="list-inline">
              <li class="atom-red">{{comment.user.name}}</li>
              <li class="text-muted">@{{comment.user.username}}</li>
            </ul>
          {{/link-to}}
        </div>
        <div class="col-xs-2 text-right text-muted">
          {{time-delta-in-words comment.createdAt}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{comment.comment}}
        </div>
      </div>
    </div>
  </div>
</article>
