<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a href="#">Link</a>
      </li>
    </ul>

    <div class="nav navbar-title">
      <p class="navbar-text">{{title}}</p>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
