<article class="video-item item">
  <div class="row author">
    <div class="col-xs-9">
      <img class="img-avatar img-avatar-small img-circle pull-left" src="{{video.user.avatar}}" alt="" />
      <h4>{{video.user.name}}</h4>
      <h5 class="atom-red">@{{video.user.username}}</h5>
    </div>
    <div class="col-xs-3 text-muted text-right">
      {{fa-icon "clock-o"}} {{time-delta-in-words video.createdAt}}
    </div>
  </div>
  <div class="row video-thumbnail">
    <div class="col-xs-12">
      <img class="img-responsive full-width" src="{{video.thumbnailPath}}" />
    </div>
  </div>
  <div class="row title">
    <div class="col-xs-12">
      <h3>{{video.title}} {{video.id}}</h3>
    </div>
  </div>
  <div class="row stats">
    <div class="col-xs-12">
      <ul class="list-inline">
        <li>
          {{fa-icon "eye"}} {{video.viewsCount}}
        </li>
        <li>
          {{fa-icon "heart-o"}} {{video.likesCount}}
        </li>
        <li>
          {{fa-icon "comment-o"}} {{video.commentsCount}}
        </li>
      </ul>
    </div>
  </div>
</article>
