@import "bootstrap_imports";

body {
  margin-top: 51px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.atom-red {
  color: #fc2755;
}

.img-avatar {
  height: 100px;
  width: 100px;
  &.pull-left {
    margin-right: 8px;
  }
  &.img-avatar-small, &.img-avatar-s {
    height: 60px;
    width: 60px;
  }
  &.img-avatar-xs {
    height: 40px;
    width: 40px;
  }
}

.full-width {
  width: 100%;
}

a, a:hover {
  h1, h2, h3, h4, h5, h6 {
    color: $gray;
    text-decoration: none;
  }
  .item {
    color: $gray;
  }
}

.navbar {
  background-color: rgba(248, 248, 248, .95);
  .nav.navbar-title {
    width: 200px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    .navbar-text {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      width: 100%;
    }
  }
}

.user {
  .top-wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
    .avatar-wrapper, .url-wrapper, .name-wrapper, .description-wrapper {
      text-align: center;
      color: white;
    }
    .url-wrapper a {
      color: white;
      text-decoration: underline;
    }
    .description-wrapper p {
      text-align: justify;
    }
  }
}

.item {
  border-bottom: 1px solid $gray-lighter;
  .comment {
    padding: 8px 0;
  }
  .author {
    padding: 8px 0;
  }
  .title div {
    h3 {
      font-size: 1.5em;
    }
  }
}

.slider {
  overflow: hidden;
  overflow-x: scroll;
  margin-bottom: 8px;
  &.related-videos-slider {
    height: 67px;
  }
  .slide {
    float: left;
    &.video-related {
      background-size: cover;
      height: 67px;
      width: 120px;
      .title {
        padding: 0 4px;
        h6 {
          color: white;
        }
      }
    }
  }
}

.no-items {
  margin: 8px 0;
}
