{{top-navigation-bar title=title}}

<div class="user item">
  <div class="row top-wrapper" style="{{topWrapperStyle}}">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 avatar-wrapper">
          <img class="img-avatar img-circle" src="{{model.avatar}}" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 name-wrapper">
          <h2>{{model.name}}</h2>
          <h3>@{{model.username}}</h3>
        </div>
      </div>
      {{#if model.url}}
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 url-wrapper">
            <p>
              <a href="{{model.url}}">{{model.url}}</a>
            </p>
          </div>
        </div>
      {{/if}}
      {{#if model.description}}
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 description-wrapper">
            <p>{{model.description}}</p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="row videos">
  <div class="col-xs-12">
    {{#each model.videos as |video|}}
      {{#link-to 'video' video}}
        {{video-item video=video}}
      {{/link-to}}
    {{/each}}
  </div>
</div>
