{{top-navigation-bar title=title}}

<div class="container-fluid">
  <div class="video item">
    <div class="row author">
      <div class="col-xs-9">
        {{#link-to 'user' model.user}}
          <img class="img-avatar img-avatar-small img-circle pull-left" src="{{model.user.avatar}}" alt="" />
          <h4>{{model.user.name}}</h4>
          <h5 class="atom-red">@{{model.user.username}}</h5>
        {{/link-to}}
      </div>
      <div class="col-xs-3 text-muted text-right">
        {{fa-icon "clock-o"}} {{time-delta-in-words model.createdAt}}
      </div>
    </div>

    <div class="row player">
      <div class="col-xs-12">
        <video class="img-responsive full-width" poster="{{model.thumbnailPath}}" controls="controls">
          <source src="{{model.filePath}}" type="video/mp4"/>
        </video>
      </div>
    </div>

    <div class="row title">
      <div class="col-xs-12">
        <h3>{{model.title}} {{model.id}}</h3>
        <p>{{model.description}}</p>
      </div>
    </div>

    <div class="row stats">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li>
            {{fa-icon "eye"}} {{model.viewsCount}}
          </li>
          <li>
            {{fa-icon "heart-o"}} {{model.likesCount}}
          </li>
          <li>
            {{fa-icon "comment-o"}} {{model.commentsCount}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="more item">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <h5>More videos by {{model.user.name}}:</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 slider related-videos-slider">
            {{#each model.relatedVideos as |video|}}
              {{#link-to 'video' video}}
                {{video-related video=video}}
              {{/link-to}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row comments">
    <div class="col-xs-12">
      {{#each comments as |comment|}}
        {{comment-item comment=comment}}
      {{/each}}
    </div>
  </div>
</div>
